profiles {
  NCI {
    process {
      // Set Executor
      executor = 'pbspro'
      project = 'xl04'
      storage = 'gdata/xl04+gdata/te53+gdata/if89'
      queueSize = 500
      
      withName: arima {
        queue = 'normal'
        time = '24.h'
        cpus = 48
        memory = '192.GB'
        clusterOptions = '-l ncpus=48,mem=192GB,storage=gdata/xl04+gdata/if89+gdata/te53,jobfs=400GB'
      }

      withName: yahs {
        queue = 'normal'
        time = '24.h'
        cpus = 4
        memory = '16.GB'
        clusterOptions = '-l ncpus=4,mem=16GB,storage=gdata/xl04+gdata/if89+gdata/te53'

      }

       withName: generate_hicmap {
        queue = 'normal'
        time = '24.h'
        cpus = 48
        memory = '192.GB'
        clusterOptions = '-l ncpus=48,mem=192GB,storage=gdata/xl04+gdata/if89+gdata/te53,jobfs=400GB'
      }

    }
  }
}