/**
 * Nextflow Configuration Script for Genomic Data Analysis
 * 
 * This configuration script defines execution profiles for the Nextflow pipeline, 
 * setting up specific resources and parameters for running the pipeline on 
 * different computing environments: locally, on the NCI HPC cluster, and an `ignitenode` cluster.
 * 
 * The configurations specify resource requirements for different processes/modules
 * of the pipeline, ensuring optimal and efficient execution.
 *
 * Authors: Kosar Hooshmand
 */
/*
plugins {
    id 'nf-sqldb'
}

sql {
    db {
        metadata {
            url = 'jdbc:sqlite:/g/data/xy86/giab/giab.db'
        }
    }
}
*/


profiles {
  NCI {
    process {
      // Set Executor
      executor = 'pbspro'
      project = 'xl04'
      storage = 'gdata/xl04+gdata/if89+gdata/te53'
      queueSize = 500
      
      withName: pbindex {
        queue = 'normal'
        time = '48.h'
        module = "singularity"
        clusterOptions = '-l ncpus=48,mem=192GB,jobfs=400GB,storage=gdata/xl04+gdata/if89+gdata/te53'
      }

      withName: ccs {
        queue = 'normal'
        time = '48.h'
        module = "singularity"
        clusterOptions = '-l ncpus=48,mem=192GB,jobfs=400GB,storage=gdata/xl04+gdata/if89+gdata/te53'
      }

      withName: actc {
        queue = 'normal'
        time = '48.h'
        module = "singularity"
        clusterOptions = '-l ncpus=48,mem=192GB,jobfs=400GB,storage=gdata/xl04+gdata/if89+gdata/te53'
      }

      withName: deepconsensus {
        queue = 'gpuvolta'
        time = '48.h'
        module = "singularity"
        clusterOptions = '-l ncpus=12,mem=96GB,jobfs=100GB,ngpus=1,storage=gdata/xl04+gdata/if89+gdata/te53'
      }

      withName: concatFastq {
        queue = 'normal'
        time = '48.h'
        clusterOptions = '-l ncpus=1,mem=4GB,storage=gdata/xl04+gdata/if89+gdata/te53'
      }

      withName: cutadapt {
        queue = 'normal'
        time = '48.h'
        clusterOptions = '-l ncpus=48,mem=192GB,storage=gdata/xl04+gdata/if89+gdata/te53'
      }

      withName: qc {
        queue = 'normal'
        time = '48.h'
        clusterOptions = '-l ncpus=24,mem=96GB,storage=gdata/xl04+gdata/if89+gdata/te53'
      }

 

    }
  }


  }

