/**
 * Nextflow Configuration Script for Genomic Data Analysis
 * 
 * This configuration script defines execution profiles for the Nextflow pipeline, 
 * setting up specific resources and parameters for running the pipeline on 
 * different computing environments: locally, on the NCI HPC cluster, and an `ignitenode` cluster.
 * 
 * The configurations specify resource requirements for different processes/modules
 * of the pipeline, ensuring optimal and efficient execution.
 *
 * Authors: Kosar Hooshmand
 */
/*
plugins {
    id 'nf-sqldb'
}

sql {
    db {
        metadata {
            url = 'jdbc:sqlite:/g/data/xy86/giab/giab.db'
        }
    }
}
*/


profiles {
  NCI {
    process {
      // Set Executor
      executor = 'pbspro'
      project = 'te53'
      storage = 'scratch/te53+gdata/te53+gdata/tu07+gdata/xy86+gdata/xl04+gdata/if89'
      queueSize = 500
      
      withName: pbindex {
        queue = 'express'
        time = '1.h'
        module = "singularity"
        cpus = 48
        memory = '192.GB'
      }

      withName: ccs {
        queue = 'express'
        time = '1.h'
        module = "singularity"
        cpus = 48
        memory = '192.GB'
      }

      withName: actc {
        queue = 'express'
        time = '1.h'
        module = "singularity"
        cpus = 1
        memory = '192.GB'
      }

      withName: deepconsensus {
        queue = 'express'
        time = '1.h'
        module = "singularity"
        cpus = 48
        memory = '192.GB'
      }

      withName: concatfastq {
        queue = 'express'
        time = '1.h'
        cpus = 1
        memory = '4.GB'
      }

      withName: cutadapt {
        queue = 'express'
        time = '1.h'
        cpus = 1
        memory = '4.GB'
      }

      withName: qc {
        queue = 'express'
        time = '1.h'
        cpus = 1
        memory = '4.GB'
      }

      withName: gzip {
        queue = 'express'
        time = '1.h'
        cpus = 1
        memory = '4.GB'
      }

      withName: md5sum {
        queue = 'express'
        time = '1.h'
        cpus = 1
        memory = '4.GB'
      }
      
      
      




    }
  }


  }

