profiles {
  NCI {
    process {
      // Set Executor
      executor = 'pbspro'
      project = 'xl04'
      storage = 'gdata/xl04+gdata/te53+gdata/if89'
      queueSize = 500
      
      withName: qc {
        queue = 'normal'
        time = '3.h'
        clusterOptions = ' -W umask=017 -l ncpus=1,mem=96GB,storage=gdata/xl04+gdata/if89+gdata/te53'
      }

      withName: basecall {
        queue = 'gpuvolta'
        time = '48.h'
        clusterOptions = '-W umask=017 -l ncpus=48,mem=384GB,ngpus=4,storage=gdata/xl04+gdata/if89+gdata/te53,iointensive=1'
      }


      }

 
    }
  }
